.cardDoca {
  background: #ffffff;
  padding: 20px;
  margin: 8px 0;
  border-radius: 4px;
  height: 60px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  
}
.cardDocaBodyImageWrapper {
  height: 60px;
  width: 60px;
  overflow: hidden;
}
.cardDocaBodyImage {
  height: 100%;
  width: 100%;
} 
.cardDocaBody,
.cardDocaBodyTitle {
  display: flex;
  align-items: center;
}
.cardDocaBodyTitle {
  margin-left: 30px;
  width: 100%;
  justify-content: space-between;
}
.cardDocaTitle {
  margin: 0;
  font-weight: normal;
}
.cardDocaSubTitle {
  color: #0d1650;
  font-weight: 600;
}
.link-none-style {
  text-decoration: none;
  color: #333;
}
.cardDocaSubTitleDanger {
  color: #F1603B;
}